@model PlaylistManager.WebApplication.Models.Playlist

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <main role="main" class="pb-3" style="margin-top: 5%;">
        <h1 class="text-white">Create <span class="spanArtist">Playlist</span></h1>
        <div class="row">
            <div class="col-md-4 mt-5">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Title" class="form-control" placeholder="Enter name of playlist..." />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success mt-3" />
                    </div>
                </form>
            </div>
        </div>
    </main>

    <div>
        <a asp-action="Index" class="backttolist">Back to List</a>
    </div>
</div>
   

