@model IEnumerable<PlaylistManager.WebApplication.Models.Playlist>;
    @{
        ViewData["Title"] = "PlaylistContent";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


<div class="container">
    <main role="main" class="pb-3" style="margin-top: 5%;">
        <h1 class="text-white">My <span class="spanArtist">Playlists</span> </h1>
        <div class="container-fluid mt-5">
            <div class="row">
                @foreach (var playlist in Model)
                {
                    <div class="col-12 col-md-8 col-lg-4 text-center mt-4 mb-4">

                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title">@playlist.Title</h5>
                                <hr>
                                <a class="btn btn-info" asp-action="PlaylistContent" asp-route-id="@playlist.Id">Open</a>
                            </div>
                        </div>
                        
                    </div>
                }
            </div>
         </div>
    </main>
</div>

