@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4 text-center mx-auto">
            <a class="btn btn-info" asp-controller="Playlists" asp-action="Create">Create Playlist</a>
        </div>
        <div class="col-12 col-md-8 col-lg-4 text-center mx-auto">
            <a class="btn btn-success" asp-controller="Songs" asp-action="Create">Add Song</a>
        </div>
    </div>
</div>
